
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #402377;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;
}

body > h1 {
    color: white;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    width: auto;
    height: auto;
    padding: 1rem;
    margin: 0 0.75rem;

    max-width: 500px;
    border-radius: 1rem;
    box-shadow: 0px 10px 40px #08080848;
}

.varlorDiv {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}

.secDiv {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    
}

#txtArea {
    resize: none;
    /* max-width: 50vh;
    min-width: 50vh;
    max-height: 30vh; */
    min-height: 25vh;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.63);
}

.buttonCalc {
    width: 6.5rem;
    border-radius: 2px;
    height: auto;
    border: 1px solid black;
}